body {
  font-family: var(--font-family);
  color: var(--text-color-secondary);
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--background-thirdly);
  border-radius: 0.5rem;
  padding: 1.5em;
  margin: 3em 2em;
  border: 1px solid rgb(112, 103, 187);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: none;
  color: var(--text-color-secondary);
}

label {
  font-size: 1.1rem;
  font-weight: 600;
}

.remaining-characters {
  font-size: 0.8rem;
  text-align: right;
  color: var(--background-primary);
  margin: 0;
}

.submit-button {
  margin: 1rem auto auto auto;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 0.25rem;
  background-color: var(--background-primary);
  color: rgb(247, 160, 174);
  border: none;
}

textarea {
  font-family: var(--font-family);
  font-style: italic;
  border-radius: 0.25rem;
  border-color: var(--background-primary);
  background-color: rgb(250, 240, 246);
}

input {
  border-radius: 0.25rem;
  border: 1px solid var(--background-primary);
  background-color: rgb(250, 240, 246);
}
