:root {
  --text: sans-serif;
  --text-primary: rgb(243, 218, 234);
  --text-secondary: rgb(28, 25, 54);
  --primary: rgb(112, 103, 187);
  --secondary: rgb(243, 218, 234);
  --tertiary: rgb(196, 186, 245);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html.dark-mode,
html.dark-mode body {
  background-color: #121212;
  color: #ffffff;
}

/*
h1,
h2,
h3 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-primary);
  color: var(--foreground);
  background-color: var(--background);
}

body.dark {
  --background: var(--black);
  --foreground: var(--white);
}

button {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  color: var(--black);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
*/

body {
  display: grid;
  font-family: var(--text);
  color: var(--text-secondary);
  background-color: var(--secondary);
  margin: 0;
}
