* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: grid;
}

.main-content {
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: rgb(223, 212, 240);
}
