:root {
  --font-family: sans-serif;
  --text-color-primary: rgb(243, 218, 234);
  --text-color-secondary: rgb(28, 25, 54);
  --background-primary: rgb(112, 103, 187);
  --background-secondary: rgb(243, 218, 234);
  --background-thirdly: rgb(196, 186, 245);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
}
