.main-content {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.question-card__list {
  padding: 1rem;
  margin: 1rem auto 0 auto;
  list-style: none;
}

.question-card {
  position: relative;
  padding: 3em 1.5em 1.5em 1.5em;
  margin: 1em 1em 1.5em 1em;
  max-width: 45rem;
  background-color: var(--tertiary);
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  box-shadow: 0 2px 5px var(--primary);
  text-align: center;
}

/* bookmark */
.question-card__bookmark {
  position: absolute;
  top: -0.3em;
  right: 0.3em;
  height: 2.5em;
  width: 2.5em;
}
.active-bookmark {
  background: rgb(247, 139, 157);
}

/* question */
.question-card__question {
  font-size: 1.25em;
  margin: 0 0 2rem;
}

/* answer */
.question-card__answer {
  font-style: italic;
}

.answer-button {
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: rgb(247, 160, 174);
  border: none;
  display: block;
  margin: 2rem auto 2rem auto;
  padding: 1rem;
}

.hidden {
  display: none;
}

/* category */
.category-list {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0;
  margin: 0;
}

.category {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--secondary);
  border: none;
  color: var(--text-secondary);
}
