.navbar {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s ease;
  height: 6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin: 0;
}

.nav-icon {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-icon--active {
  background-color: var(--tertiary);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-links img {
  height: 3rem;
  width: 3rem;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
<<<<<<< HEAD
  width: 0;
  background-color: var(--background-thirdly);
=======
  width: 1%;
  background-color: var(--tertiary);
>>>>>>> fcd789b3f82104891d04062bcbaa23b06deac859
  transition: width 0.05s ease;
}
