.navbar {
  background-color: var(--background-primary);
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s ease;
  height: 6rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.nav-icon--homepage {
  background-color: var(--background-secondary);
}

.nav-icon--homepage,
.nav-icon--bookmarks,
.nav-icon--profile {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-icon--bookmarks:hover {
  background-color: var(--background-secondary);
}

.nav-icon--profile:hover {
  background-color: var(--background-secondary);
}

.nav-links img {
  height: 3rem;
  width: 3rem;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  width: 0;
  background-color: var(--background-secondary);
  transition: width 0.05s ease;
}
