.navbar {
  background-color: var(--background-primary);
  position: fixed;
  bottom: 0;
  width: 100%;

  height: 6rem;
}
/*
 transition: transform 0.5s ease;
 */

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin: 0;
}

.nav-icon {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-icon--active {
  background-color: var(--background-thirdly);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-links img {
  height: 3rem;
  width: 3rem;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  width: 1%;
  background-color: var(--background-thirdly);
  transition: width 0.05s ease;
}
